[submodule "bachelor_thesis_src"]
	path = bachelor_thesis_src
	url = https://github.com/rhoentier/bachelor_thesis_src.git
[submodule "bachelor_thesis_text_and_data"]
	path = bachelor_thesis_text_and_data
	url = https://github.com/rhoentier/bachelor_thesis_text_and_data.git
